$main-gradient: linear-gradient(
    109.6deg,
    rgba(14, 11, 56, 1) 11.2%,
    rgba(239, 37, 37, 1) 91.1%
);

$second-gradient: linear-gradient(109.6deg, #f48c06 11.2%, #e85d04 91.1%);

$h2-color: #6a040f;
