@import "variables";

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 170px;
    margin-bottom: 0;

    background-image: $main-gradient;

    div {
        margin: 10px auto 0;
        width: 100%;
        text-align: center;
    }

    img {
        width: 30px;
        margin: 0 20px;

        &:hover {
            opacity: 0.5;
        }
    }

    & > :nth-child(1) {
        font-size: 24px;
        color: #f2f2f2;

        &::first-letter {
            font-size: 38px;
            color: #d00000;
        }

        span {
            font-size: 40px;
            color: #f48c06;
        }
    }

    & > :nth-child(3) {
        font-size: 14px;
        color: #f2f2f2;

        &:hover {
            opacity: 0.8;
        }
    }
}
