@import "variables";

.main_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 60vh;
    position: relative;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;

        .main_text {
            color: #f2f2f2;
            h1 {
                font-size: 50px;
                color: #f2f2f2;
                margin-bottom: -5px;

                background: $second-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            h3 {
                font-size: 26px;
                margin-bottom: 20px;
                width: 500px;
            }

            p {
                font-size: 20px;
            }
        }

        button {
            padding: 18px 45px;
            font-size: 24px;
            font-weight: 500;
            border: none;
            border-radius: 10px;
            margin-top: 40px;
            width: 250px;
            color: #03071e;

            background-image: $second-gradient;
            z-index: 5;
            font-weight: 500;
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                box-shadow: 0 0 12px 3px #6a040f;
            }
        }
    }

    .main_img {
        img {
            width: 400px;
            transform: rotate(5deg);
            margin-top: 40px;
        }
    }
}
