@import "variables";

.services2 {
    display: flex;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    @media screen and (max-width: 1050px) {
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin: auto;

        h4 {
            margin: 15px auto;
        }

        img {
            width: 100px;
            height: 100px;
        }

        @media screen and (max-width: 500px) {
            margin-top: 50px;
            width: 400px;
        }
    }
}
