* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(109.6deg, #0e0b38 11.2%, #ef2525 91.1%);
}

h2 {
  font-size: 50px;
  color: #6a040f;
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 100px;
  text-transform: uppercase;
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  position: relative;
}

.main_container .main_text {
  color: #f2f2f2;
  font-size: 60px;
  -webkit-animation: text_appear 2s;
          animation: text_appear 2s;
}

.main_container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
}

.main_container .container button {
  display: block;
  padding: 20px 50px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(109.6deg, #f48c06 11.2%, #e85d04 91.1%);
  z-index: 3;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main_container .container button:hover {
  cursor: pointer;
  opacity: 0.8;
  margin-top: -5px;
}

.main_container .main_img img {
  width: 350px;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  margin-top: 40px;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 20px;
  height: 12vh;
}

nav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .left img {
  width: 55px;
}

nav .left p {
  margin-left: 20px;
  font-size: 28px;
  letter-spacing: -2px;
  background: linear-gradient(109.6deg, #f48c06 11.2%, #e85d04 91.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-right: 50px;
}

.nav_items {
  margin-left: 20px;
}

.nav_items a {
  display: inline-block;
  text-decoration: none;
  padding: 22px;
  font-size: 20px;
  color: #f2f2f2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}

.nav_items a:hover {
  color: #ffba08;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  nav ul {
    display: none;
  }
  nav label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  nav label:hover {
    opacity: 0.8;
  }
  nav label span {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
  }
  nav label input[type="checkbox"]:checked + ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

input[type="checkbox"] {
  display: none;
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  position: relative;
}

.main_container .main_text {
  color: #f2f2f2;
  font-size: 60px;
  -webkit-animation: text_appear 2s;
          animation: text_appear 2s;
}

.main_container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
}

.main_container .container button {
  display: block;
  padding: 20px 50px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(109.6deg, #f48c06 11.2%, #e85d04 91.1%);
  z-index: 3;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main_container .container button:hover {
  cursor: pointer;
  opacity: 0.8;
  margin-top: -5px;
}

.main_container .main_img img {
  width: 350px;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  margin-top: 40px;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 20px 50px;
  border-radius: 15%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card_container .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card_container .card img {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}

.card_container .card .card_text {
  font-size: 20px;
  padding: 30px 20px;
  color: #370617;
}

.about {
  margin-top: 100px;
}

.about .about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.about .about_container img {
  width: 50vw;
  height: 50vw;
  z-index: 2;
}

.about .about_container .about_wave {
  position: absolute;
  left: 0;
  bottom: 0;
}

.about .about_container .about_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
}

.about .about_container .about_text h3 {
  margin-top: 60px;
  font-size: 38px;
}

.about .about_container .about_text span {
  margin: 35px;
  width: 150px;
  height: 5px;
  border-radius: 5px;
  background-color: #6a040f;
}

.about .about_container .about_text p {
  font-size: 22px;
  line-height: 2rem;
  padding: 0 60px;
  z-index: 2;
}

.contact_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact_container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  padding: 10px;
  margin: 0 100px 100px;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact_container div:hover {
  -webkit-transform: scale(1.22);
          transform: scale(1.22);
  background-color: #e8eaeb;
}

.contact_container div h4,
.contact_container div p {
  margin-top: 13px;
}

.contact_container div img {
  width: 80px;
}
/*# sourceMappingURL=style.css.map */