@import "colors";
@import "font";
@import "responsive-design";
@import "heading_animation";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $main-font;
}
body {
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

header {
    width: 100vw;
    height: 100vh;
    position: relative;

    background-image: $main-gradient;
}
h2 {
    font-size: 40px;
    color: $h2-color;
    text-align: center;
    margin-bottom: 20vh;
}

// Main text and img

.flex_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 60vh;

    .main_text {
        color: #f2f2f2;
        font-size: 60px;
        animation: text_appear 2s;
    }

    .main_img {
        img {
            width: 350px;
            transform: rotate(4deg);
            margin-top: 40px;
        }
    }
}

// Navbar

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    height: 12vh;

    img {
        width: 55px;
        margin-right: auto;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin-right: 50px;
    }
}

.nav_items {
    margin-left: 20px;

    a {
        display: inline-block;
        text-decoration: none;
        padding: 22px;
        font-size: 18px;

        color: #f2f2f2;
        transition: 0.3s;

        &:hover {
            color: #370617;
            font-size: 19px;
        }
    }
}

// Reszponzivitás

@media screen and (max-width: 800px) {
    nav {
        ul {
            display: none;
        }
        label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            span {
                width: 35px;
                height: 5px;
                background-color: white;
                margin: 4px 0;
            }
            input[type="checkbox"]:checked + ul {
                display: flex;
            }
        }
    }
}
input[type="checkbox"] {
    display: none;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

// Services

.card_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .card {
        width: 300px;
        height: 500px;

        img {
            width: 300px;
            height: 300px;
        }
    }
}
