@media screen and (max-width: 800px) {
  nav ul {
    display: none;
  }
  nav label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  nav label:hover {
    opacity: 0.8;
  }
  nav label span {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
  }
  nav label input[type="checkbox"]:checked + ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

input[type="checkbox"] {
  display: none;
}

h1 span {
  display: inline-block;
  margin: 0 0;
  padding: 0;
  letter-spacing: 0;
}

span:nth-child(3) {
  -webkit-animation: appear 0.5s;
          animation: appear 0.5s;
}

span:nth-child(4) {
  -webkit-animation: appear 1s;
          animation: appear 1s;
}

span:nth-child(5) {
  -webkit-animation: appear 1.5s;
          animation: appear 1.5s;
}

span:nth-child(6) {
  -webkit-animation: appear 2s;
          animation: appear 2s;
}

span:nth-child(7) {
  -webkit-animation: appear 2.5s;
          animation: appear 2.5s;
}

span:nth-child(8) {
  -webkit-animation: appear 3s;
          animation: appear 3s;
}

span:nth-child(9) {
  -webkit-animation: appear 3.5s;
          animation: appear 3.5s;
}

span:nth-child(10) {
  -webkit-animation: appear 4s;
          animation: appear 4s;
}

span:nth-child(11) {
  -webkit-animation: appear 4.5s;
          animation: appear 4.5s;
}

span:nth-child(12) {
  -webkit-animation: appear 5s;
          animation: appear 5s;
}

span:nth-child(13) {
  -webkit-animation: appear 5.5s;
          animation: appear 5.5s;
}

span:nth-child(14) {
  -webkit-animation: appear 6s;
          animation: appear 6s;
}

span:nth-child(15) {
  -webkit-animation: appear 6.5s;
          animation: appear 6.5s;
}

span:nth-child(16) {
  -webkit-animation: appear 7s;
          animation: appear 7s;
}

span:nth-child(17) {
  -webkit-animation: appear 7.5s;
          animation: appear 7.5s;
}

span:nth-child(18) {
  -webkit-animation: appear 8s;
          animation: appear 8s;
}

span:nth-child(19) {
  -webkit-animation: appear 8.5s;
          animation: appear 8.5s;
}

span:nth-child(20) {
  -webkit-animation: appear 9s;
          animation: appear 9s;
}

span:nth-child(21) {
  -webkit-animation: appear 9.5s;
          animation: appear 9.5s;
}

span:nth-child(22) {
  -webkit-animation: appear 10s;
          animation: appear 10s;
}

span:nth-child(23) {
  -webkit-animation: appear 10.5s;
          animation: appear 10.5s;
}

span:nth-child(24) {
  -webkit-animation: appear 11s;
          animation: appear 11s;
}

@-webkit-keyframes appear {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
}

@keyframes appear {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(109.6deg, #0e0b38 11.2%, #ef2525 91.1%);
}

h2 {
  font-size: 50px;
  color: #6a040f;
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 100px;
}

.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  position: relative;
}

.flex_container .main_text {
  color: #f2f2f2;
  font-size: 60px;
  -webkit-animation: text_appear 2s;
          animation: text_appear 2s;
}

.flex_container .main_img img {
  width: 350px;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  margin-top: 40px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button_container button {
  margin-left: 13vw;
  padding: 20px 50px;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(109.6deg, #f48c06 11.2%, #e85d04 91.1%);
  z-index: 3;
  font-weight: 500;
  margin-top: -50px;
}

.button_container button:hover {
  cursor: pointer;
  opacity: 0.8;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 10px 20px;
  height: 12vh;
}

nav img {
  width: 55px;
  margin-right: auto;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-right: 50px;
}

.nav_items {
  margin-left: 20px;
}

.nav_items a {
  display: inline-block;
  text-decoration: none;
  padding: 22px;
  font-size: 18px;
  color: #f2f2f2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_items a:hover {
  color: #370617;
  font-size: 19px;
}

@media screen and (max-width: 800px) {
  nav ul {
    display: none;
  }
  nav label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  nav label:hover {
    opacity: 0.8;
  }
  nav label span {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
  }
  nav label input[type="checkbox"]:checked + ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

input[type="checkbox"] {
  display: none;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 20px 50px;
  border-radius: 15%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card_container .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card_container .card img {
  width: 100px;
  height: 100px;
  padding-top: 10px;
}

.card_container .card .card_text {
  font-size: 20px;
  padding: 30px 20px;
  color: #370617;
}

.about {
  margin-top: 100px;
}
/*# sourceMappingURL=style.css.map */